<div id="<%= dom_id book %>">
  <p>
    <strong>Tile:</strong>
    <%= book.tile %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Pages count:</strong>
    <%= book.pages_count %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= book.comments %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

</div>
